.release-header {
    background-color: #123B56 !important;
}

.logo {
    margin-right: 12px;
}

.release-header {
    padding: 0.8rem;
}

.header-title {
    border-left: 1px solid rgba(203, 203, 203, 0.257);
    padding-left: 10px;
    font-weight: 700;
}

@media screen and (min-width: 48em) {
    .logo {
        width: 350px;
        height: auto;
    }
}

@media screen and (min-width: 30em) {
    .logo {
        width: 120px;
        height: auto;
    }

}
