{
  "openapi": "3.0.3",
  "info": {
    "title": "NIAID Data Ecosystem Discovery API",
    "description": "Documentation of the api.data.niad.nih.gov Data Ecosystem Discovery services.\n\nLearn more about [NIAID Data](http://data-staging.niaid.nih.gov/portal/). API changelog and history can be found [here](/versions).",
    "termsOfService": "http://data.niaid.nih.gov/terms",
    "contact": {
      "name": "Us",
      "email": "help@data.niaid.nih.gov",
      "x-role": "responsible developer"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.data.niaid.nih.gov/v1/",
      "description": "Production server"
    },
    {
      "url": "http://api-staging.data.niaid.nih.gov/v1/",
      "description": "Staging server"
    }
  ],
  "paths": {
    "/metadata/fields": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get information about the metadata fields available from NIAID Data",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Pass a format string to return a specified format, e.g. \"format=yaml\"",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "raw",
            "in": "query",
            "description": "Return plain text (default = False)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Pass a search term to filter the available fields, e.g. \"search=author\"",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "Pass a prefix string to filter the available fields, e.g. \"prefix=study\"",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data.niaid metadata fields object"
          }
        }
      }
    },
    "/metadata": {
      "get": {
        "tags": [
          "metadata"
        ],
        "summary": "Get information about the metadata available from NIAID Data",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Pass a format string to return a specified format, e.g. \"format=yaml\"",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "raw",
            "in": "query",
            "description": "Return plain text (default = False)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data.niaid metadata object"
          }
        }
      }
    },
    "/query": {
      "get": {
        "tags": [
          "query"
        ],
        "summary": "Make data query and return matching data list.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Query string. Examples \"zenodo\", \"ComputationalTool\", \"Reference Genome\", \"dataset\".",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated fields to limit the fields returned from the matching niaid hits. Note that it supports dot notation as well, e.g., you can pass \"includedInDataCatalog.name\". If \"fields=all\", all available fields will be returned. Example: date, name, description.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "aggs",
            "in": "query",
            "description": "Optional, a single field or comma-separated fields to return aggregations. Example \"includedInDataCatalog.name,infectiousAgent.name\"",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facet_size",
            "in": "query",
            "description": "Optional, an integer (1 <= facet_size <= 1000) that specifies how many buckets to return in a faceted query.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "the number of matching hits to skip, starting from 0. Combining with \"size\" parameter, this can be useful for paging. Default: 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "the comma-separated fields to sort on. Prefix with \"-\" for descending order, otherwise in ascending order. Default: sort by matching scores in decending order.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "explain",
            "in": "query",
            "description": "If True, return fields within \"_explaination\" or do not return those fields \"False\"",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fetch_all",
            "in": "query",
            "description": "When True, return maximum number of hits (up to 1000). If False, refer to size parameter (default 10)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "scroll_id",
            "in": "query",
            "description": "Available for pagination use.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "query"
        ],
        "summary": "Make data batch query and return matching hits",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Query string. Examples \"zenodo\", \"ComputationalTool\", \"Reference Genome\", \"dataset\".",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scopes",
            "in": "query",
            "description": "Optional, specify one or more fields (separated by comma) as the search “scopes”",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "_id"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "the number of matching hits to skip, starting from 0. Combining with \"size\" parameter, this can be useful for paging. Default: 0.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "the comma-separated fields to sort on. Prefix with \"-\" for descending order, otherwise in ascending order. Default: sort by matching scores in decending order.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/query_body"
              }
            },
            "application/yaml": {},
            "application/x-www-form-urlencoded": {},
            "multipart/form-data": {}
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "metadataProperties": {
        "type": "object",
        "properties": {
          "@context": {
            "type": "string",
            "description": "Schema reference (\"https://schema.org/\")"
          },
          "_id": {
            "type": "string",
            "description": "Unique ID with source as a prefix (\"ZENODO_188418\", \"OMICSDI_S-EPMC6271715\")"
          },
          "@type": {
            "type": "string",
            "description": "Type of data (\"Dataset, Book, ImageObject\")"
          },
          "about": {
            "$ref": "#/components/schemas/metadataProperties_about"
          },
          "abstract": {
            "type": "string",
            "description": "A short descriptive summary of the resource"
          },
          "all": {
            "type": "string"
          },
          "alternateName": {
            "type": "string",
            "description": "An alias for the item."
          },
          "applicationCategory": {
            "type": "string",
            "description": "Type of software application, e.g. 'Game, Multimedia'."
          },
          "applicationSubCategory": {
            "type": "string",
            "description": "Subcategory of the application, e.g. 'Arcade Game'."
          },
          "applicationSuite": {
            "type": "string",
            "description": "The name of the application suite to which the application belongs (e.g. Excel belongs to Office)."
          },
          "armGroup": {
            "$ref": "#/components/schemas/metadataProperties_armGroup"
          },
          "author": {
            "$ref": "#/components/schemas/metadataProperties_author"
          },
          "citation": {
            "$ref": "#/components/schemas/metadataProperties_citation"
          },
          "citedBy": {
            "$ref": "#/components/schemas/metadataProperties_citedBy"
          },
          "codeRepository": {
            "type": "string",
            "description": "Link to the source code repository of the tool."
          },
          "conditionsOfAccess": {
            "type": "string",
            "description": "Conditions that affect the availability of, or method(s) of access to, an item. Typically used for real world items such as an ArchiveComponent held by an ArchiveOrganization. This property is not suitable for use as a general Web access control mechanism. It is expressed only in natural language. For example “Available by appointment from the Reading Room” or “Accessible only from logged-in accounts “."
          },
          "contentUrl": {
            "type": "string",
            "description": "URL pointing to the actual location of the file"
          },
          "contributor": {
            "$ref": "#/components/schemas/metadataProperties_contributor"
          },
          "correction": {
            "type": "string",
            "description": "List of changes / corrections made to the data"
          },
          "creator": {
            "$ref": "#/components/schemas/metadataProperties_creator"
          },
          "curatedBy": {
            "$ref": "#/components/schemas/metadataProperties_curatedBy"
          },
          "date": {
            "type": "integer",
            "description": "The most recent date between dateCreated, dateModified and datePublished"
          },
          "dateCreated": {
            "type": "string",
            "description": "The date on which the CreativeWork was created or the item was added to a DataFeed."
          },
          "dateModified": {
            "type": "string",
            "description": "Date on which the code was most recently modified"
          },
          "datePublished": {
            "type": "string",
            "description": "Date of first broadcast/publication"
          },
          "description": {
            "type": "string",
            "description": "A description of the item."
          },
          "distribution": {
            "$ref": "#/components/schemas/metadataProperties_distribution"
          },
          "doi": {
            "type": "string"
          },
          "duration": {
            "type": "string"
          },
          "eligibilityCriteria": {
            "$ref": "#/components/schemas/metadataProperties_eligibilityCriteria"
          },
          "funding": {
            "$ref": "#/components/schemas/metadataProperties_funding"
          },
          "hasPart": {
            "$ref": "#/components/schemas/metadataProperties_hasPart"
          },
          "hasResults": {
            "type": "boolean",
            "description": "Boolean for if the clinical trial has published any results"
          },
          "headline": {
            "type": "string",
            "description": "Headline of the article."
          },
          "healthCondition": {
            "type": "string",
            "description": "Specifying the health condition(s) of a patient, medical study, or other target audience."
          },
          "identifier": {
            "type": "string",
            "description": "The identifier property represents any kind of identifier for any kind of Thing, such as ISBNs, GTIN codes, UUIDs etc. Schema.org provides dedicated properties for representing many of these, either as textual strings or as URL (URI) links."
          },
          "identifierSource": {
            "type": "string",
            "description": "Source of identifier assignment or type of identifier (NCTid, China CTRid, EudraCT Number, etc.)"
          },
          "image": {
            "type": "string",
            "description": "An image of the item. This can be a URL or a fully described ImageObject."
          },
          "includedInDataCatalog": {
            "$ref": "#/components/schemas/metadataProperties_includedInDataCatalog"
          },
          "inComplianceWith": {
            "type": "string",
            "description": "Guidelines or Standards to which these protocols adhere. ie- GMP, GCP, other EQUATOR guidelines. Useful for selecting protocols where certain standards/guidelines must be met"
          },
          "inLanguage": {
            "$ref": "#/components/schemas/metadataProperties_inLanguage"
          },
          "infectiousAgent": {
            "$ref": "#/components/schemas/metadataProperties_infectiousAgent"
          },
          "infectiousDisease": {
            "$ref": "#/components/schemas/metadataProperties_infectiousDisease"
          },
          "input": {
            "$ref": "#/components/schemas/metadataProperties_input"
          },
          "instrument": {
            "type": "string",
            "description": "For LabProtocols it would be a laboratory equipment use by a person to follow one or more steps described in this LabProtocol."
          },
          "interventionText": {
            "type": "string"
          },
          "interventions": {
            "$ref": "#/components/schemas/metadataProperties_interventions"
          },
          "isBasedOn": {
            "$ref": "#/components/schemas/metadataProperties_isBasedOn"
          },
          "isPartOf": {
            "$ref": "#/components/schemas/metadataProperties_isPartOf"
          },
          "issueNumber": {
            "type": "string",
            "description": "Identifies the issue of publication; for example, \"iii\" or \"2\"."
          },
          "journalName": {
            "type": "string",
            "description": "Name of journal/publication of the article"
          },
          "journalNameAbbrev": {
            "type": "string",
            "description": "Abbreviated name of journal/publication of the article"
          },
          "keywords": {
            "type": "string",
            "description": "Keywords or tags used to describe this content. Multiple entries in a keywords list are typically delimited by commas."
          },
          "license": {
            "type": "string",
            "description": "License associated with re-use of the computational tool."
          },
          "material": {
            "type": "string",
            "description": "A material that something is made from, e.g. leather, wool, cotton, paper."
          },
          "measurementParameter": {
            "$ref": "#/components/schemas/metadataProperties_measurementParameter"
          },
          "measurementTechnique": {
            "$ref": "#/components/schemas/metadataProperties_measurementTechnique"
          },
          "name": {
            "type": "string",
            "description": "The name of the item."
          },
          "nctid": {
            "type": "string"
          },
          "outcome": {
            "$ref": "#/components/schemas/metadataProperties_outcome"
          },
          "output": {
            "$ref": "#/components/schemas/metadataProperties_output"
          },
          "pmid": {
            "type": "integer"
          },
          "protocolCategory": {
            "type": "string",
            "description": "The type of 'protocol' based on degree of specificity and purpose (protocol, procedure, policy, guideline)"
          },
          "protocolSetting": {
            "type": "string",
            "description": "The type of 'protocol' based on setting in which it would apply (clinical, experimental, field, computational, public)"
          },
          "publicationType": {
            "type": "string",
            "description": "The type of the medical article, taken from the US NLM MeSH publication type catalog."
          },
          "relatedTo": {
            "$ref": "#/components/schemas/metadataProperties_relatedTo"
          },
          "sameAs": {
            "type": "string",
            "description": "Link to any resource other than the Record and the official webpage, for instance a Wikipedia page. URL of a reference Web page that unambiguously indicates the item's identity. E.g. the URL of the item's Wikipedia page, Wikidata entry, or official website."
          },
          "sdPublisher": {
            "type": "string",
            "description": "Indicates the party responsible for generating and publishing the current structured data markup, typically in cases where the structured data is derived automatically from existing published content but published on a different site. For example, student projects and open data initiatives often re-publish existing content with more explicitly structured metadata."
          },
          "softwareRequirements": {
            "type": "string",
            "description": "Renaming schema.org/requirements as softwareRequirements. Component dependency requirements for application. This includes runtime environments and shared libraries that are not included in the application distribution package, but required to run the application (Examples: DirectX, Java or .NET runtime). Supersedes requirements."
          },
          "softwareVersion": {
            "type": "string",
            "description": "Version of the software instance."
          },
          "spatial": {
            "$ref": "#/components/schemas/metadataProperties_spatial"
          },
          "species": {
            "$ref": "#/components/schemas/metadataProperties_species"
          },
          "sponsor": {
            "$ref": "#/components/schemas/metadataProperties_sponsor"
          },
          "studyDesign": {
            "$ref": "#/components/schemas/metadataProperties_studyDesign"
          },
          "studyEvent": {
            "$ref": "#/components/schemas/metadataProperties_studyEvent"
          },
          "studyLocation": {
            "$ref": "#/components/schemas/metadataProperties_studyLocation"
          },
          "studyStatus": {
            "$ref": "#/components/schemas/metadataProperties_studyStatus"
          },
          "thumbnailUrl": {
            "type": "string"
          },
          "topicCategory": {
            "type": "string",
            "description": "Applicable outbreak.info category"
          },
          "url": {
            "type": "string"
          },
          "usedToGenerate": {
            "type": "string",
            "description": "Type of evidence/data generated by the protocol"
          },
          "variableMeasured": {
            "type": "string",
            "description": "A technique or technology used in a Dataset, corresponding to the method used for measuring the corresponding variable(s)."
          },
          "version": {
            "type": "string",
            "description": "Version number"
          },
          "volumeNumber": {
            "type": "string",
            "description": "Identifies the volume of publication or multi-part work; for example, \"iii\" or \"2\"."
          },
          "workFeatured": {
            "$ref": "#/components/schemas/metadataProperties_workFeatured"
          }
        }
      },
      "query_body": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string"
          },
          "scopes": {
            "type": "string"
          },
          "from": {
            "type": "integer"
          },
          "sort": {
            "type": "string"
          }
        }
      },
      "metadataProperties_about": {
        "properties": {
          "@id": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          }
        }
      },
      "metadataProperties_armGroup_intervention": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "description": "The category of an intervention in the study"
          },
          "description": {
            "type": "string",
            "description": "A description of the intervention in the study"
          },
          "name": {
            "type": "string",
            "description": "The name of the intervention in the study"
          }
        },
        "description": "The interventions (if any) in this ArmGroup"
      },
      "metadataProperties_armGroup": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "description": "A description of the arm or factor"
          },
          "intervention": {
            "$ref": "#/components/schemas/metadataProperties_armGroup_intervention"
          },
          "name": {
            "type": "string",
            "description": "The name of the arm or factor (can include a specific intervention, a placebo or even a lack of intervention, ie- 'no intervention' group)"
          },
          "role": {
            "type": "string",
            "description": "The role of the arm or factor in the study"
          }
        }
      },
      "metadataProperties_author_affiliation": {
        "properties": {
          "name": {
            "type": "string",
            "description": "name of the organization"
          }
        }
      },
      "metadataProperties_author": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "affiliation": {
            "$ref": "#/components/schemas/metadataProperties_author_affiliation"
          },
          "familyName": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "identifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "description": "Name of the author or organization that created the dataset."
      },
      "metadataProperties_citation_author": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "familyName": {
            "type": "string"
          },
          "givenName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "metadataProperties_citation": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "author": {
            "$ref": "#/components/schemas/metadataProperties_citation_author"
          },
          "datePublished": {
            "type": "integer"
          },
          "doi": {
            "type": "string",
            "description": "A doi if available"
          },
          "identifier": {
            "type": "string",
            "description": "An identifier associated with the citation"
          },
          "issueNumber": {
            "type": "string"
          },
          "journalName": {
            "type": "string"
          },
          "journalNameAbbrev": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of or title of the citation"
          },
          "pagination": {
            "type": "string"
          },
          "pmid": {
            "type": "string",
            "description": "A pubmed identifier if available"
          },
          "url": {
            "type": "string",
            "description": "The url of the resource cited."
          },
          "volumeNumber": {
            "type": "string"
          }
        },
        "description": "Journal article or other publication associated with the dataset"
      },
      "metadataProperties_citedBy": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "abstract": {
            "type": "string",
            "description": "A short descriptive summary of the resource"
          },
          "citation": {
            "type": "string"
          },
          "datePublished": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "doi": {
            "type": "string",
            "description": "A doi if available"
          },
          "identifier": {
            "type": "string",
            "description": "An identifier associated with the citation"
          },
          "name": {
            "type": "string",
            "description": "Name of or title of the citation"
          },
          "pmid": {
            "type": "string",
            "description": "A pubmed identifier if available"
          },
          "url": {
            "type": "string",
            "description": "The url of the resource cited."
          }
        }
      },
      "metadataProperties_contributor": {
        "properties": {
          "@id": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          },
          "affiliation": {
            "type": "string",
            "description": "An organization that this person is affiliated with. For example, a school/university, a club, or a team."
          },
          "name": {
            "type": "string"
          }
        },
        "description": "A secondary contributor to the CreativeWork or Event."
      },
      "metadataProperties_creator_affiliation": {
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "description": "An organization that this person is affiliated with. For example, a school/university, a club, or a team."
      },
      "metadataProperties_creator": {
        "properties": {
          "@id": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          },
          "affiliation": {
            "$ref": "#/components/schemas/metadataProperties_creator_affiliation"
          },
          "familyName": {
            "type": "string",
            "description": "Family name. In the U.S., the last name of an Person. This can be used along with givenName instead of the name property."
          },
          "givenName": {
            "type": "string",
            "description": "Given name. In the U.S., the first name of a Person. This can be used along with familyName instead of the name property."
          },
          "name": {
            "type": "string",
            "description": "Full name of the person-- concatenation of givenName, additionalName, familyName. givenName, additionalName, and familyName are the preferred way of specifying the name."
          },
          "role": {
            "type": "string",
            "description": "authorship, sponsorship, or other contribution role played by the person or organization in the creation of this resource"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "metadataProperties_curatedBy": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "identifier": {
            "type": "string",
            "description": "An identifier associated with the citation"
          },
          "name": {
            "type": "string",
            "description": "Name of or title of the citation"
          },
          "url": {
            "type": "string",
            "description": "The url of the resource cited."
          },
          "versionDate": {
            "type": "string",
            "description": "The version date of the resource used at the time of the creation of the citation as certain resources (protocols, datasets) may change frequently over time."
          }
        }
      },
      "metadataProperties_distribution": {
        "properties": {
          "@id": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          },
          "contentUrl": {
            "type": "string",
            "description": "URL pointing to the actual location of the file"
          },
          "dateCreated": {
            "type": "string",
            "description": "Date of first creation"
          },
          "dateModified": {
            "type": "string",
            "description": "Date on which the DataDownload was most recently modified (YYYY-DD-MM)"
          },
          "datePublished": {
            "type": "string",
            "description": "Date of first broadcast/publication"
          },
          "description": {
            "type": "string",
            "description": "Short summary describing a data file"
          },
          "encodingFormat": {
            "type": "string",
            "description": "File extension"
          },
          "name": {
            "type": "string",
            "description": "Descriptive name of the data file"
          }
        }
      },
      "metadataProperties_eligibilityCriteria": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "exclusionCriteria": {
            "type": "string",
            "description": "criteria for exclusion from the study"
          },
          "gender": {
            "type": "string",
            "description": "the sex requirement to be included in the study"
          },
          "healthyVolunteers": {
            "type": "boolean",
            "description": "Boolean to indicate whether or not healthy volunteers may be included in the study"
          },
          "inclusionCriteria": {
            "type": "string",
            "description": "criteria for inclusion in the study"
          },
          "maximumAge": {
            "type": "string",
            "description": "the minimum age for a participant to be included in the study"
          },
          "minimumAge": {
            "type": "string"
          },
          "stdAge": {
            "type": "string",
            "description": "the age category of a participant to be included in the study if a minimum and maximum age is not specified"
          }
        }
      },
      "metadataProperties_funding_funder": {
        "properties": {
          "alternateName": {
            "type": "string"
          },
          "class": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "description": "An organization associated with a creator or funder of a dataset"
          },
          "parentOrganization": {
            "type": "string",
            "description": "name of the parent funding organization"
          },
          "role": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "description": "Information about a single funder"
      },
      "metadataProperties_funding": {
        "properties": {
          "funder": {
            "$ref": "#/components/schemas/metadataProperties_funding_funder"
          },
          "identifier": {
            "type": "string",
            "description": "Unique identifier(s) for the grant(s) used to fund the Dataset"
          },
          "url": {
            "type": "string",
            "description": "award / grant URL"
          }
        },
        "description": "Funding that supports (sponsors) the collection of this dataset through some kind of financial contribution"
      },
      "metadataProperties_hasPart": {
        "properties": {
          "@id": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          }
        },
        "description": "Indicates an item or CreativeWork that is part of this item, or CreativeWork (in some sense)."
      },
      "metadataProperties_includedInDataCatalog": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "versionDate": {
            "type": "string"
          }
        },
        "description": "A data catalog which contains this dataset"
      },
      "metadataProperties_inLanguage": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "alternateName": {
            "type": "string",
            "description": "An alias for the item."
          },
          "name": {
            "type": "string",
            "description": "The name of the item."
          }
        },
        "description": "The language of the content or performance or used in an action. Please use one of the language codes from the [IETF BCP 47 standard](http://tools.ietf.org/html/bcp47). See also [[availableLanguage]]."
      },
      "metadataProperties_infectiousAgent": {
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "description": "Infectious agent(s) / pathogen(s) which are the focus of the dataset (e.g. SARS-CoV-2)"
      },
      "metadataProperties_infectiousDisease": {
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "description": "Infectious disease(s) or condition(s) which are the focus of the dataset (e.g. COVID-19, pneumonia, etc.)"
      },
      "metadataProperties_input": {
        "properties": {
          "name": {
            "type": "string"
          },
          "encodingFormat": {
            "type": "string",
            "description": "URLs to accepted formats. It is strongly recommented that this be specified. If it is not specified, then nothing should be assumed about the encoding formats of the FormalParameter."
          }
        },
        "description": "Specification of a consumed input."
      },
      "metadataProperties_interventions": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "description": "The category of an intervention in the study (drugs, medical devices, procedures, vaccines, etc.)"
          },
          "description": {
            "type": "string",
            "description": "A description of the intervention in the study"
          },
          "name": {
            "type": "string",
            "description": "The name of the intervention in the study"
          }
        }
      },
      "metadataProperties_isBasedOn": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "abstract": {
            "type": "string",
            "description": "A short descriptive summary of the resource"
          },
          "citation": {
            "type": "string",
            "description": "A citation or reference to another creative work, such as another publication, web page, scholarly article, etc."
          },
          "datePublished": {
            "type": "string",
            "description": "Date of first broadcast/publication."
          },
          "description": {
            "type": "string",
            "description": "A description of the item."
          },
          "doi": {
            "type": "string"
          },
          "identifier": {
            "type": "string",
            "description": "Any kind of identifier such as ISBNs, GTIN codes."
          },
          "name": {
            "type": "string",
            "description": "The name of the item."
          },
          "pmid": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "description": "Url of the item"
          }
        },
        "description": "A CreativeWork, such as a scholarly article, asserting the status of the accepted/valid name and synonyms, retained for the taxon circumscription A resource from which this work is derived or from which it is a modification or adaption. Supersedes, isBasedOnUrl."
      },
      "metadataProperties_isPartOf": {
        "properties": {
          "@id": {
            "type": "string"
          },
          "@type": {
            "type": "string"
          }
        },
        "description": "Dataset or collection aggregating this annotation Indicates an item or CreativeWork that this item, or CreativeWork (in some sense), is part of. Inverse property: hasPart."
      },
      "metadataProperties_measurementParameter": {
        "properties": {
          "resolution": {
            "type": "string"
          }
        }
      },
      "metadataProperties_measurementTechnique": {
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the measurement technique"
          },
          "url": {
            "type": "string",
            "description": "URL to the measurement technique"
          }
        },
        "description": "A technique or technology used in a Dataset, corresponding to the method used for measuring the corresponding variable(s)."
      },
      "metadataProperties_outcome": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "outcomeMeasure": {
            "type": "string",
            "description": "The outcome measure for the study"
          },
          "outcomeTimeFrame": {
            "type": "string",
            "description": "The specific time point(s) and overall duration of evaluation must be specified in this section."
          },
          "outcomeType": {
            "type": "string",
            "description": "The classification of the outcome measure as either primary, secondary, or exploratory"
          }
        },
        "description": "Expected or actual outcomes of the study."
      },
      "metadataProperties_output": {
        "properties": {
          "name": {
            "type": "string"
          },
          "encodingFormat": {
            "type": "string",
            "description": "URLs to accepted formats. It is strongly recommented that this be specified. If it is not specified, then nothing should be assumed about the encoding formats of the FormalParameter."
          }
        },
        "description": "Specification of a produced output."
      },
      "metadataProperties_relatedTo": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "abstract": {
            "type": "string",
            "description": "A short descriptive summary of the resource"
          },
          "citation": {
            "type": "string"
          },
          "datePublished": {
            "type": "string",
            "description": "Date of first broadcast/publication"
          },
          "description": {
            "type": "string",
            "description": "A description of the item."
          },
          "doi": {
            "type": "string",
            "description": "A doi if available"
          },
          "identifier": {
            "type": "string",
            "description": "An identifier associated with the citation"
          },
          "name": {
            "type": "string",
            "description": "Name of or title of the citation"
          },
          "pmid": {
            "type": "string",
            "description": "A pubmed identifier if available"
          },
          "url": {
            "type": "string",
            "description": "The url of the resource cited."
          }
        },
        "description": "A related citation to a resource (eg- publication, protocol, etc.) which is related to the dataset but is not a derivative nor was derived from the dataset (stored as an object, not a string)"
      },
      "metadataProperties_spatial_geo": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "latitude": {
            "type": "integer",
            "description": "The latitude of a location."
          },
          "longitude": {
            "type": "integer",
            "description": "The longitude of a location."
          }
        }
      },
      "metadataProperties_spatial": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "geo": {
            "$ref": "#/components/schemas/metadataProperties_spatial_geo"
          },
          "name": {
            "type": "string"
          }
        },
        "description": "The \"spatial\" property can be used in cases when more specific properties are not known to be appropriate."
      },
      "metadataProperties_species": {
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the item."
          },
          "url": {
            "type": "string",
            "description": "URL of the item."
          }
        },
        "description": "Species(es) from which dataset has been collected"
      },
      "metadataProperties_sponsor": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "class": {
            "type": "string",
            "description": "A classification of the organization by a resource. Eg- for ClinicalTrials funders, it's [U.S. National Institutes of Health, Other U.S. Federal agencies, Industry, All others]"
          },
          "name": {
            "type": "string",
            "description": "The name of the organization."
          },
          "role": {
            "type": "string",
            "description": "The role of an organization in its involvement with a resource"
          }
        },
        "description": "A person or organization that supports a thing through a pledge, promise, or financial contribution. e.g. a sponsor of a Medical Study or a corporate sponsor of an event."
      },
      "metadataProperties_studyDesign": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "designAllocation": {
            "type": "string",
            "description": "The method by which the study participants were allocated into groups (randomized, nonrandomized, other)"
          },
          "designModel": {
            "type": "string",
            "description": "The general design of the strategy for assigning interventions to participants in a clinical intervention study OR the general design of the strategy for identifying and following up with participants during an observational study."
          },
          "designPrimaryPurpose": {
            "type": "string",
            "description": "The primary purpose of the study (treatment, prevention, diagnostic, supportive care, etc.)"
          },
          "designWhoMasked": {
            "type": "string",
            "description": "The people who do not know which participants have been assigned to which interventions"
          },
          "phase": {
            "type": "string",
            "description": "Stage or phase of the study in the U.S. if applicable"
          },
          "phaseNumber": {
            "type": "number",
            "description": "The number of the phase or stage of the study"
          },
          "studyDesignText": {
            "type": "string",
            "description": "String description of the study design if structured information not available"
          },
          "studyType": {
            "type": "string",
            "description": "Type of human study, can be subtypes of observational study or interventional studies and may include the temporal relationship of observation period to time of participant enrollment."
          }
        }
      },
      "metadataProperties_studyEvent": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "studyEventDate": {
            "type": "string",
            "description": "The corresponding/actual date of the study event (ie- the StartDate, Primary CompletionDate, CompletionDate, StudyFirstSubmitDate, StudyFirstSubmitQCDate, LastUpdateSubmitDate)"
          },
          "studyEventDateType": {
            "type": "string",
            "description": "the type of date provided (actual, anticipated, or estimated)"
          },
          "studyEventType": {
            "type": "string",
            "description": "Type of the event status such as StudyStart, PrimaryCompletion, Completion, StudyFirstSubmit, StudyFirstSubmitQC, LastUpdateSubmit"
          }
        }
      },
      "metadataProperties_studyLocation": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "studyLocationCity": {
            "type": "string",
            "description": "The city in which the facility used for the study is located"
          },
          "studyLocationCountry": {
            "type": "string",
            "description": "The country in which the facility used for the study is located"
          },
          "studyLocationState": {
            "type": "string",
            "description": "The state or province in which the facility used for the study is located"
          },
          "studyLocationStatus": {
            "type": "string",
            "description": "The recruitment status of the study at the specific study site (not yet recruiting, recruiting, enrolling by invitation, etc.)"
          }
        }
      },
      "metadataProperties_studyStatus": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "enrollmentCount": {
            "type": "integer",
            "description": "The number of participants enrolled in the study"
          },
          "enrollmentType": {
            "type": "string",
            "description": "The type of estimation used to determine the enrollmentCount (actual counts, target size, etc.)"
          },
          "status": {
            "type": "string",
            "description": "The recruitment status of the study (not yet recruiting, recruiting, enrolling by invitation, etc.)"
          },
          "statusDate": {
            "type": "string",
            "description": "The date that the status was verified. Equivalent to NCT's StatusVerifiedDate"
          },
          "statusExpanded": {
            "type": "boolean",
            "description": "Flag for whether or not the study has expanded status"
          },
          "whyStopped": {
            "type": "string",
            "description": "A brief explanation of the reason(s) why such clinical study was stopped (for a clinical study that is Suspended, Terminated, or Withdrawn prior to its planned completion as anticipated by the protocol)"
          }
        }
      },
      "metadataProperties_workFeatured": {
        "properties": {
          "@type": {
            "type": "string"
          },
          "alternateName": {
            "type": "string",
            "description": "An alias for the item."
          },
          "location": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "description": "The training material used in this specific course instance, or produced for this course instance. Inverse property: workFeatured If this is the same for all Course Instances, use hasPart and/or mentions in Course instead A work featured in some event, e.g. exhibited in an ExhibitionEvent. Specific subproperties are available for workPerformed (e.g. a play), or a workPresented (a Movie at a ScreeningEvent)."
      }
    }
  }
}
